* {
    box-sizing: border-box;
  }
  .container-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* grid-template-rows: 100px 100px 100px 100px 100px; */
    grid-auto-rows: 200px;

  }

  .navbar-buttons{
    position:relative;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .25rem 1rem;
    font-size: 50px;
     }

  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 15%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .footer {
    Padding: 16px;
    padding-bottom: 100px;
  }
  
   .social-icon {     
    width: 100px;
    height: 100px;}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Signin* Modal Content/Box */ */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
    
  /* }
  *{  
    padding: 0;
    margin: 0;
    list-style: none;
    }
    
  ul{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
  ul li{
      position: relative;
      background: white;
      width: 90px;
      height: 90px;
      margin: 0 20px;
      border: 3px solid;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      transition: .5s;
      overflow: hidden;
    } */
  
  /* ul li .fab{
      font-size: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .5s;
    }
  ul li:nth-child(1){
    border-color:lightslategrey;
    }
  ul li:nth-child(1) .fab {
    color: lightslategrey;
    }
  ul li:nth-child(2){
    border-color: lightslategrey;
    }
  ul li:nth-child(2) .fab {
    color: lightslategrey;
    }
  ul li:nth-child(3){
    border-color: lightslategrey;
    }
  ul li:nth-child(3) .fab {
    color: lightslategrey;
    }
  ul li:nth-child(4){
    border-color:  lightslategrey;
    }
  ul li:nth-child(4) .fab {
    color: lightslategrey;
    }
  ul li:hover:nth-child(1) {
    background:  lightslategrey;
    }
  ul li:hover:nth-child(2) {
    background: lightslategrey;
    }
  ul li:hover:nth-child(3) {
    background:  lightslategrey; 
    }
  ul li:hover:nth-child(4) {
    background:  lightslategrey;
    }
  ul li .fab:nth-child(1){
    left: -50%;
    opacity: 0;
    }
  ul li:hover .fab:nth-child(1){
    left: -50%;
    opacity: 1;
    color: white;
    }
  ul li:hover .fab:nth-child(2){
    left: 150%;
    opacity: 0;
    }  */
  
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 600px) { /* Specific to this particular image */
    .header-img{
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
    @media screen and (min-width: 320px) {
      .social-icon {        
         display: inline-block;
      }
   }
  }